@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url(login-form-BS.css);

html,
body {
    height: 100%;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff;
    background: no-repeat center top url(../images/bg_amoba.jpg);
    background-size: cover;
}

.ftco-section {
    padding: 2em 0 0;
}

.form-control {
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(255, 255, 255, 0.18);
}

.form-select {
    padding-right: 0;
}
span.required-star {
    position: absolute;
    left: 15px;
    top: 5px;
    color: #fbbe54;
}

.ftco-section .invalid-feedback {
    font-size: 1rem;
}

#currentPlayerDisplay {
    height: 44px;
}
#currentPlayerDisplay span {
    font-size: 1.2rem;
    font-weight: 700;
    font-style: normal;
}
#currentPlayerDisplay span.o {
    color: #419aff;
}
#currentPlayerDisplay span.x {
    color: #df3b5d;
}
#currentPlayerDisplay span.d {
    color: #3aef47;
}
#currentPlayerDisplay.winner {
    font-size: 1.4rem;
}
#currentPlayerDisplay.winner mark {
    font-weight: 700;
    border-radius: 10px;
}

#boardHolder .tableHolder {
    width: auto;
    padding: 2px;
    border: 2px solid #181623;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
#boardHolder .table {
    width: auto;
    border: 6px solid #fbbe54;
    background: repeat center top url(../images/table_bg.png);
}
#boardHolder .table td {
    box-sizing: content-box;
    padding: 0rem;
    width: 50px !important;
    height: 50px !important;
    text-align: center;
    vertical-align: middle;
    border: 6px solid #fbbe54;
}
@media (max-width: 720px) {
    #boardHolder .table td {
        width: 28px !important;
        height: 28px !important;
        border-width: 3px;
    }
}

#boardHolder .table td span {
    display: block;
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-indent: -60px;
    margin: 0;
    padding: 0;
}
#boardHolder .table td span.o {
    background: no-repeat center top url(../images/icon-O.jpg);
}
#boardHolder .table td span.x {
    background: no-repeat center top url(../images/icon-X.jpg);
}
#boardHolder .table td span.d {
    background: no-repeat center top url(../images/icon-D.jpg);
}
@media (max-width: 720px) {
    #boardHolder .table td span {
        width: 28px;
        height: 28px;
    }
    #boardHolder .table td span.o {
        background: no-repeat center top url(../images/icon-O-small.jpg);
    }
    #boardHolder .table td span.x {
        background: no-repeat center top url(../images/icon-X-small.jpg);
    }
    #boardHolder .table td span.d {
        background: no-repeat center top url(../images/icon-D-small.jpg);
    }
}

#newGame {
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.4rem;
}
@media (max-width: 720px) {
    #newGame {
        top: 17%;
    }
}
#newGame .btn.btn-primary {
    height: 2.1rem;
}

.btn.btn-primary:hover {
    background: #fce1d2 !important;
}
